*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/src/androidTest
/src/test
activityTest/src/main/res/drawable/
broadcasttest/src/main/res/drawable/
contactstest/src/main/res/drawable/
listview/src/main/res/drawable/
uicustomviews/src/main/res/drawable/
libs/

