*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/src/androidTest
/src/test
activityTest/libs/
activityTest/src/main/res/drawable/
broadcasttest/libs/
broadcasttest/src/main/res/drawable/
contactstest/libs/
contactstest/src/main/res/drawable/
listview/libs/
listview/src/main/res/drawable/
uicustomviews/libs/
uicustomviews/src/main/res/drawable/
"\346\211\223\347\224\265\350\257\235/libs/"
"\346\211\223\347\224\265\350\257\235/src/main/res/drawable/"
"\346\225\260\346\215\256\345\255\230\345\202\250/libs/"
"\346\225\260\346\215\256\345\255\230\345\202\250/src/main/res/drawable/"
"\347\233\270\345\257\271\345\270\203\345\261\200/libs/"
"\347\233\270\345\257\271\345\270\203\345\261\200/src/main/res/drawable/"
libs/
src/main/res/drawable/
